<div class="ui basic modal" id="approve-modal">
    <div class="ui icon header">
        <i class="check icon"></i>
        Подтверждение действия
    </div>
    <div class="content">
        <p>Вы уверены?</p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            Нет
        </div>
        <div class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            Да
        </div>
    </div>
</div>