<div class="ui fixed pointing menu" th:fragment="header">
    <div class="ui container">
        <a href="#" class="header item">
            <img class="logo" src="assets/images/logo.png">
            Project Name
        </a>
        <a href="#" class="item">Home</a>
        <div class="item" th:if="${session.role == 'ADMIN'}" id="btn-student-add-modal">
            <a class="underlined">Добавить Учащегося</a>
        </div>
        <div class="item" th:if="${session.role == 'ADMIN'}" id="btn-teacher-add-modal">
            <a class="underlined">Добавить Преподавателя</a>
        </div>
        <div class="left aligned item" th:if="${session.login != null}">
            <a href="/logout" class="underlined">Выход</a>
        </div>
    </div>
</div>