
<div class="ui modal" id="student-single-modal">
    <i class="close icon"></i>
    <div class="header"><h2 id="student-single-name"></h2></div>
    <div class="image content">
        <div class="ui medium image">
            <img src="#" id="student-single-avatar">
            <br>
            <b>Группа по физкультуре</b>
            <p id="student-single-gymgroup"></p>
            <b>Группа здоровья</b>
            <p id="student-single-healthgroup"></p>
            <b>Заболевания</b>
            <p id="student-single-diseases"></p>
        </div>
        <div class="description">
            <div class="ui header" id="student-single-group"></div>
            <b>Возраст</b>
            <p id="student-single-age"></p>
            <b>Дата рождения</b>
            <p id="student-single-birthday"></p>
            <b>Хобби</b>
            <p id="student-single-hobby"></p>
            <b>Детей в семье</b>
            <p id="student-single-childcount"></p>
            <b>Контактные данные родителей</b>
            <div id="student-single-parents"></div>
        </div>
    </div>
    <div class="actions">
        <div class="ui cancel button">Закрыть</div>
    </div>
</div>