<div class="ui modal" id="modal-teacher-add" th:fragment="modal">
    <i class="close icon"></i>
    <h3 class="header">
        Добавление преподавателя
    </h3>
    <div class="content">
        <div class="ui form">
            <div class="fields">
                <div class="field">
                    <label>Имя</label>
                    <input type="text" placeholder="Введите имя" id="teacher-add-firstname">
                </div>
                <div class="field">
                    <label>Фамилия</label>
                    <input type="text" placeholder="Введите фамилию" id="teacher-add-surname">
                </div>
                <div class="field">
                    <label>Отчество</label>
                    <input type="text" placeholder="Введите отчество" id="teacher-add-middlename">
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Класс</label>
                    <select class="ui dropdown" id="teacher-add-group-digit">
                        <option value="1">Первый</option>
                        <option value="2">Второй</option>
                        <option value="3">Третий</option>
                        <option value="4">Четвертый</option>
                        <option value="5">Пятый</option>
                        <option value="6">Шестой</option>
                        <option value="7">Седьмой</option>
                        <option value="8">Восьмой</option>
                        <option value="9">Девятый</option>
                        <option value="10">Десятый</option>
                        <option value="11">Одинадцатый</option>
                    </select>
                </div>
                <div class="field">
                    <label>Буква</label>
                    <select class="ui dropdown" id="teacher-add-group-letter">
                        <option value="А">А класс</option>
                        <option value="Б">Б класс</option>
                        <option value="В">В класс</option>
                        <option value="Г">Г класс</option>
                    </select>
                </div>
            </div>
            <div class="field">
                <label>Номер телефона</label>
                <input type="text" placeholder="Введите номер" id="teacher-add-number">
            </div>
            <div class="field">
                <label>Логин для входа</label>
                <input type="text" placeholder="Введите логин" id="teacher-add-login">
            </div>
            <div class="field">
                <label>Пароль для входа</label>
                <input type="password" placeholder="Введите пароль" id="teacher-add-password">
            </div>

            <div id="teacher-add-error"></div>
        </div>
    </div>
    <div class="actions">
        <div class="ui cancel button">Отменить</div>
        <div class="ui button" id="btn-teacher-add">Добавить</div>
    </div>
</div>