<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <!-- Standard Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" th:href="@{/css/master.css}">
</head>
<body>
<div th:insert="components/header :: header"></div>

<div style="background: yellow;">
    <h1 style="padding: 10em;" th:text="${group.title}"></h1>
</div>
<div class="ui four column stackable grid" style="margin: 0;" th:if="${group.getStudents().size() > 0}">
    <a th:each="student : ${group.getStudents()}" class="ui four wide column" th:href="'/student/'+${student.id}" style="background: red;">
        <h2 class="group card" style="font-size: 1.5em;padding-bottom: 10em;" th:text="${student.surname}+' '+${student.firstname}+', '+${student.getAge()}+' лет'"></h2>
    </a>
</div>
<h3 style="margin: 0;padding: 12em;color: rgba(0,0,0,.2);background: #c4c4c40a;text-align: center;" th:if="${group.getStudents().size() == 0}">
    В этом классе еще нет учащихся :(
</h3>
<div th:insert="components/footer :: footer"></div>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</body>
</html>